# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
venv/
.env

# Node
node_modules/
frontend/dist/

# Database
*.db
*.sqlite3

# Uploads
uploads/

# Google credentials
credentials/
get_refresh_token.py

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
